* {
	box-sizing: border-box;
	font-weight: 300;
}
body {
	margin: 0;
	padding: 0;
	background: #eee; color: #222;
	font-size: 18px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
div {
	display: flex;
	flex-direction: column;
}
h1 {
	font-weight: 300;
}
p {
	margin: 0;
}

button {
	width: 100%;
	padding: 10px 25px;
	border: 1px solid rgba(2,136,209,0.5);
	background: #039be5; color: #fff;
	font-size: 20px;
	cursor: pointer;
}
button:hover {
	background: rgb(2,136,209);
}
button[disabled],button.disabled {
	cursor: default;
	opacity: 0.5;
}
input {
	width: 100%;
	padding: 10px 15px;
	border: 1px solid #ddd;
	font-size: 18px;
}
input:focus,button:focus,select:focus {
	outline: 0;
}

#root {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
#container {
	align-items: center;
	width: 768px;
	background: #fff;
}

.error {
	color: #d20;
	font-size: 20px;
	text-align: center;
}

.inline {
	flex-direction: row;
}

#title {
	margin: 25px 0px 0px;
}

#input_area {
	width: 100%;
	padding: 25px 30px;
}
#input_area input {
	flex: 1;
}
#input_area button {
	width: fit-content;
	margin-left: -1px;
}

#result_area {
	width: 100%;
	padding: 25px 45px;
	border-top: 1px solid #ddd;
}
#result_show,#result_show div {
	flex-direction: row;
	align-items: center;
}
#result_show div.divide {
	flex-direction: column;
	padding: 0px 5px;
}
#result_show div.divide .line {
	height: 1px; width: 100%;
	background: #111;
}
#result_show div.power .exponent {
	margin-bottom: 0.7em;
	font-size: 0.7em;
}
