* {
	box-sizing: border-box;
	font-weight: 300;
}
body {
	margin: 0;
	padding: 0;
	background: #eee; color: #222;
	font-size: 18px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
div {
	display: flex;
	flex-direction: column;
}
h1 {
	font-weight: 300;
}
p {
	margin: 0;
}

button {
	width: 100%;
	padding: 10px 25px;
	border: 1px solid rgba(2,136,209,0.5);
	background: #039be5; color: #fff;
	font-size: 20px;
	cursor: pointer;
}
button:hover {
	background: rgb(2,136,209);
}
button[disabled],button.disabled {
	cursor: default;
	opacity: 0.5;
}
input[type=text],input[type=number] {
	width: 100%;
	padding: 10px 15px;
	border: 1px solid #ddd;
	font-size: 18px;
}
input[type=radio] {
	margin: 5px;
}
input:focus,button:focus,select:focus {
	outline: 0;
}

#root {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
#container {
	align-items: center;
	width: 768px; max-width: 100%;
	background: #fff;
}

.error {
	color: #d20;
	font-size: 20px;
	text-align: center;
}
.waiting {
	align-self: center;
	height: 50px; width: 50px;
	background: url('http://gonki.me/images/icons/loading.svg');
	animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

.inline {
	flex-direction: row;
}

#title {
	margin: 25px 0px 0px;
}

#input_area {
	width: 100%;
	padding: 25px 30px;
}
#input_area input[type=text] {
	flex: 1;
}
#input_area button {
	width: fit-content;
	margin-left: -1px;
}
#input_area p {
	margin: 0.5em 0px;
}
#input_area p span {
	color: #039be5;
	text-decoration: underline;
}
#input_area p span:hover {
	color: rgb(2,136,209);
	cursor: pointer;
}
#input_area label {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px 5px;
}


#result_area {
	width: 100%;
	padding: 25px 45px;
	border-top: 1px solid #ddd;
}

#result_area img {
	max-width: 100%;
}

#vars .variable_row input {
	width: 50px;
	padding: 0px;
	border: 0px;
	background: #f9f9f9;
	text-align: right;
}
.show {
	align-items: center;
}
.show + p {
	margin-top: 10px;
}
.show div {
	flex-direction: row;
	align-items: center;
}
.show div.divide {
	flex-direction: column;
	padding: 0px 5px;
}
.show div.divide > div {
	padding: 0px 5px;
}
.show div.divide .line {
	height: 1px; width: 100%;
	padding: 0px;
	background: #111;
}
.show div.power {
	margin-right: 2px;
}
.show div.power .exponent {
	margin-bottom: 0.7em;
	font-size: 0.7em;
}
.show .variable {
	padding: 0px 3px;
}
#vars {
}

#plot {
	height: 508px; width: 678px;
	margin-top: 25px;
	background: #f5f5f5;
}

@media(max-width:500px) {

#plot {
	max-height: 75vw; max-width: 100vw;
	margin-left: -45px;
}

}
